<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
         <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/global.css' %}" />
</head>
<body>
{% csrf_token %}
<div align="center" class="col-3 mx-auto" id="login_div">
        <h1>Brak użytkownika</h1>


        <form>
            <button onclick="location.href='../login/" class="btn btn-lg btn-primary btn-block" type="submit">Powrót do logowania</button>
        </form>
</div>
</body>
</html>