{% extends "base.html" %}
{% block content %}
<h3 class="col-12">Specyfikacje ładunkowe</h3>
<ul>
    {% for object in object_list %}
        {% if object.approved %}
            <li><a href="{% url 'cargo_spec:spec-detail' object.id %}">{{ object.marking }}</a></li>
        {% else %}
            <li><a href="{% url 'cargo_spec:modify-spec' object.id %}">{{ object.marking }}</a></li>
        {% endif %}
    {% endfor %}
</ul>
<a href="{% url 'cargo_spec:add-spec' %}"><button type="button" class="btn btn-primary">Dodaj specyfikację</button>
</a>
{% endblock %}
