{% extends "base.html" %}
{% block content %}
{% load static %}
<script src="{% static 'jquery.formset.js' %}"></script>
<script src="{% static 'total_value.js' %}"></script>
    <script src="{% static 'add_class.js' %}"></script>

{% url 'cargo_spec:modify-spec' specification.id as modify_url %}

{% if request.get_full_path == modify_url %}
<div><h2>Specyfikacja ładunkowa: {{ specification.marking }}</h2>
<form action="{% url 'cargo_spec:delete-spec' specification.id %}" method="POST">
    {% csrf_token %}
    <input type="hidden" name="specification_id" value="{{ specification.id }}" />
    <button type="submit" onclick='return confirm("Czy napewno usunąć specyfikację {{ specification.marking }}?");'>Usuń całą specyfikację</button>
</form>
</div>
{% endif %}


<h3>Specyfikacja skrzyni</h3>
    </br>
<div>
    <form class="form-group" action="" method="POST">{% csrf_token %}
        {{ form.as_p }}
        <table>
            {{ cargos.management_form }}

            {% for form in cargos.forms %}
                {% if forloop.first %}
                    <thead>
                    <tr>
                        {% for field in form.visible_fields %}
                            {% if field.label != 'Delete' %}
                                <th>{{ field.label|capfirst }}</th>
                            {% endif %}
                        {% endfor %}
                    </tr>
                    </thead>
                {% endif %}
                <tr class="{% cycle 'row1' 'row2' %} formset_row-{{ formset.prefix }}">
                    {% for field in form.visible_fields %}
                        <td>
                            {% if forloop.first %}
                                {% for hidden in form.hidden_fields %}
                                    {{ hidden }}
                                {% endfor %}
                            {% endif %}
                            {{ field.errors.as_ul }}
                            {{ field }}
                        </td>
                    {% endfor %}
                </tr>
            {% endfor %}
        </table>
        <input type="submit" value="Zapisz"/>
    </form>
</div>

{% if request.get_full_path == modify_url %}
    {% if not specification.approved %}
    <form action="{% url 'cargo_spec:accept-spec' specification.id %}" method="POST">
        {% csrf_token %}
        <input type="hidden" name="specification_id" value="{{ specification.id }}" />
        <button type="submit" onclick='return confirm("Czy napewno zatwierdzasz specyfikację {{ specification.marking }}?");'>Zatwierdź specyfikację</button>
    </form>
    {% endif %}
{% endif %}

<script type="text/javascript">
    $('.formset_row-{{ formset.prefix }}').formset({
        addText: 'dodaj kolejny',
        deleteText: 'usuń',
        prefix: 'cargos_content',
        added: $('input[name^="cargos_content"][name$="value"]').addClass("value"),
    });

function myFunction() {
  var element = document.getElementById("myDIV");
  element.classList.add("mystyle");
}
</script>


{% endblock %}