{% extends "base.html" %}
{% block content %}
<h3>Specyfikacja {{ object.marking }}:</h3>
<p>Opis: {{ object.description }}</p>
<p>Rodzaj opakowania: {{ object.package_type }}</p>
<div>
Spis zawartości:
<ul>
    {% for content in object.cargos_content.all %}
        <li>{{ content.name }}</li>
    {% endfor %}
</ul>
</div>
<form action="{% url 'cargo_spec:scan-upload' specification.id %}" method="POST">
        {% csrf_token %}
        <input type="hidden" name="specification_id" value="{{ specification.id }}" />
        <button type="submit">Upload skanu</button>
</form>
{% endblock %}