{% extends "base.html" %}
{% block content %}
{% load upload_extras %}
<h3>Specyfikacja {{ object.marking }}:</h3>
<p>Opis: {{ object.description }}</p>
<p>Rodzaj opakowania: {{ object.package_type }}</p>
<div>
Spis zawartości:
<ul>
    {% for content in object.cargos_content.all %}
        <li>{{ content.name }}</li>
    {% endfor %}

</ul>
</div>
{% if object.specificationdocument_set.all %}
<div>
Wgrane pliki:
<ul>
    {% for doc in object.specificationdocument_set.all|sort_docs %}
        {% if '/scan' in doc.only_file_path %}
        <li>Skan: <a href="{{ doc.document.url}}">{{ doc.filename }}</a>
            <form action="{% url 'cargo_spec:delete-doc' object.id doc.id %}" method="POST">
                {% csrf_token %}
                {{ form }}
                <input type="hidden" name="doc.id" value="{{ doc.pk }}">
                <button type="submit" onclick='return confirm("Czy napewno usunąć plik {{ doc.filename }}?");'>Usuń</button>
            </form>
        </li>
        {% else %}
        <li>Zdjęcie: <a href="{{ doc.document.url}}">{{ doc.filename }}</a>
            <form action="{% url 'cargo_spec:delete-doc' object.id doc.id %}" method="POST">
                {% csrf_token %}
                {{ form }}
                <input type="hidden" name="doc.id" value="{{ doc.pk }}">
                <button type="submit" onclick='return confirm("Czy napewno usunąć plik {{ doc.filename }}?");'>Usuń</button>
            </form>
        </li>
        {% endif %}
    {% endfor %}
</ul>
</div>
{% endif %}
{% if not object.marking|check_scan_file %}
<form action="{% url 'cargo_spec:scan-upload' specification.id %}" method="POST">
        {% csrf_token %}
        <input type="hidden" name="specification_id" value="{{ specification.id }}" />
        <button type="submit">Upload skanu</button>
</form>
{% else %}

{% endif %}
<form action="{% url 'cargo_spec:photo-upload' specification.id %}" method="POST">
        {% csrf_token %}
        <input type="hidden" name="specification_id" value="{{ specification.id }}" />
        <button type="submit">Upload zdjęć</button>
</form>
{% endblock %}